[Unit]
Description=Lazizaka Calculator Flask Service
After=network.target

[Service]
User=csog
Group=csog
WorkingDirectory=/home/csog/lazizaka-tracker/lazizaka-traker
Environment="PATH=/home/csog/lazizaka-tracker/lazizaka-traker/venv/bin"
Environment="DATABASE_PATH=/home/csog/lazizaka-tracker/lazizaka-traker/database.sqlite"
Environment="AUTH_TOKEN=your-secret-token"
ExecStart=/home/csog/lazizaka-tracker/lazizaka-traker/venv/bin/gunicorn --workers 4 --bind 0.0.0.0:7523 wsgi:app
Restart=always

[Install]
WantedBy=multi-user.target
